{% extends 'base.html' %}

{% block title %} Flutter_3{% endblock title %}

{% block body %}


<div class="card" style="width: 100%;">

    <div class="card-body">
      <h5 class="card-title">Flutter_3 Project</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
{% endblock body %}
